.layui-card {
    margin: 16px;
}
.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addForm{
    padding: 20px;
}
.layui-form-label{
    width: 103px;
    padding-top: 9px;
    font-weight: 100;
    text-align: center;
}
.editForm{
    padding: 20px;
}