.layui-form-label{
    width: 100px;
}
.layui-card {
    margin: 16px;
}
.box {
    display: flex
}
.cropper-box {
    width: 400px;
    height: 280px;
    background-color: cyan;
    overflow: hidden;
    margin-right: 20px;
}
.img-preview {
    width: 200px;
    height: 140px;
    background-color:blue;
    overflow: hidden;
    margin-bottom: 20px;
}
.preview-box div:nth-child(2){
    padding-left: 60px;
}