i,span,div,a,li{
    font-weight: 100;
}
.home .layui-logo img{
    width: 55px;
}
.home .userInfo {
    height: 60px;
    border-bottom: 1px solid #222;
    line-height: 60px;
    text-align: center;
}
.home .userInfo a{
    color: #fff;
    display: block;
}
.home  .text-avatar{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #009688;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}
.home .userInfo a:hover{
    color: #fff;
}
.home .layui-nav-img{
    vertical-align: middle;
}
.home  .layui-nav-img{
    display: none;
}
.home .layui-side-scroll{
    width: 200px;
}
.home .layui-nav i{
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
}
.home .layui-nav .layui-nav-item>.layui-nav-child{
    padding-left: 20px;
}
.home .layui-footer{
    text-align: center;
}
.layui-nav-child dd{
    padding-left: 20px;
}